[submodule "thirdparty/nabu"]
	path = thirdparty/nabu
	url = https://github.com/iveevi/nabu.git
[submodule "thirdparty/bestd"]
	path = thirdparty/bestd
	url = https://github.com/iveevi/bestd.git
[submodule "thirdparty/howler"]
	path = thirdparty/howler
	url = https://github.com/iveevi/howler.git
